name: Build Compose Multiplatform Web (WASM)

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build WASM Web App
        run: ./gradlew :composeApp:wasmJsBrowserDistribution

      - name: Prepare docs directory
        run: |
          rm -rf docs
          mkdir docs
          cp -r composeApp/build/dist/wasmJs/productionExecutable/* docs/

      - name: Commit and push docs
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add docs
          git commit -m "Update WASM build" || echo "No changes to commit"
          git push